{{ define "main" }}
<div class="container">
  <div class="section-header">
    <h1>{{ .Title }}</h1>
    {{ with .Description }}<p class="section-description">{{ . }}</p>{{ end }}
  </div>
  <div class="section-memo">
      {{ .Content }}
  </div>

  <div class="thoughts-list">
    {{ range .Pages.ByDate.Reverse }}
      <article class="thought-item" onclick="window.location.href='{{ .Permalink }}'">
        <h2>{{ .Title }}</h2>
        <div class="thought-meta">
          <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
          {{ with .Params.tags }}
            <div class="tags">
              {{ range . }}<span class="tag">#{{ . }} </span>{{ end }}
            </div>
          {{ end }}
        </div>
        <p class="thought-description">{{ .Description }}</p>
      </article>
    {{ end }}
  </div>
</div>
{{ end }}
